<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-while">Home</a></li>
                <li><a href="/task/all" class="nav-link px-2 text-while">Tasks</a></li>
                <li><a href="/user/all" class="nav-link px-2 text-while">Users</a></li>
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRna1NsnpPqhlKqxOXCguNsB-JtxWO8NAJ1fUf7qeau1w&s" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" style="">
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>